@import Goole font;
body{
    font-family:serif,sans-serif,arial;
}/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: helvetica, arial, sans-serif;
}
html, body{
    background-color: salmon;
}
h1{
    font-size: 6.854rem;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: chartreuse;
    color: rebeccapurple;
}
header{
    border-bottom: 0.8rem solid khaki;
    background-color: cornflowerblue;
    color: aliceblue;
}
.menu-h{
    width: 100%;
}
    .menu-h li{
        width:20%;
        
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            padding:0;
        }
        .menu-h a:hover,
        .menu-h a:active{
            
        }
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{
        width:100%;
        
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            padding: 0;
        }
.menu-v a:hover{
    text-decoration: underline;
    color:darkgray;
}
        .menu-v a:active{
            background-color: BBA4FF;
            color: F3E9FF;
            
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}